#cart {
  margin-right: 10px;
}

.cart-preview .icon-token {
  margin: 0;
  width: 20px;
}

table .table-record-actions .btn-group {
  float: none;
}

.table-record-actions .add-to-cart-btn,
.table-record-actions .remove-from-cart-btn {
  margin-top: 4px;
  width: 100%;
}

#archives_tree_toolbar .add-to-cart-btn,
#archives_tree_toolbar .remove-from-cart-btn {
    float: right;
    margin-right: 10px;
}

#cartCheckoutPane #cartData {
    min-height: 200px;
}

#cartSummaryDropdownPanel {
  padding: 10px;
}

#cartSummaryDropdownPanel a {
  width: 100%;
}

#generateReportFromCart {
  margin-right: 10px;
}

#cartCheckoutPane .as-nav-list {
  box-shadow: none;
}
#cartCheckoutPane table td:empty {
  text-align: center;
}
#cartCheckoutPane table td:empty:before {
  content: '-';
}