#cart {
  margin-right: 10px;
}

.cart-preview .icon-token {
  margin: 0;
  width: 20px;
}

table .table-record-actions .btn-group {
  float: none;
}

.table-record-actions .add-to-cart-btn,
.table-record-actions .remove-from-cart-btn {
  margin-top: 4px;
  width: 100%;
}

#cartCheckoutPane #cartData {
    min-height: 200px;
}

#cartSummaryDropdownPanel {
  padding: 10px;
}

#cartSummaryDropdownPanel a {
  width: 100%;
}

#generateReportFromCart {
  width: 100%;
}

#cartCheckoutPane .as-nav-list {
  box-shadow: none;
}

.cart-preview .extra-context {
    margin: 10px 20px;
    border-top: 1px dotted #DDD;
    padding: 10px 0 0;
}

.cart-preview .extra-context ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-preview .extra-context ul li {
    padding: 0;
    clear: both;
}

.cart-preview .extra-context ul ul li .tree-icon {
    background-image: url("jstree/d.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: -36px 0;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.cart-preview .extra-context ul ul ul li {
    padding-left: 16px;
}

.cart-preview .extra-context .tree-icon,
.cart-preview .extra-context .asicon {
    float: left;
    margin: 0 5px 0 0;
}

.cart-preview .extra-context strong {
    display: inline-block;
    width: 90%;
}
